slaves:
  - name: lab-cip-<company>
    host: lab-cip-<company>
    remote_master: lava.ciplatform.org
    remote_proto: https
    remote_rpc_port: 443
    remote_user: <user_"owning"_the_lab>
    remote_user_token: <user_"owning"_the_lab_token>
    lava_worker_token: <get_from_CIP_admins>
    dispatcher_ip: <ip_of_network_DUTs_are_connected_to>
    use_nfs: true
    lava-coordinator: true
    bind_dev: true
boards:
  - name: qemu-01
    type: qemu
